*.pyc
*.log
node_modules
coverage/
mariner_app/logs
mariner_app/export_deliverables
mariner_app/cantaloupe/*
mariner_app/staticfiles
mariner_app/media/packages
mariner_app/media/build/
mariner_app/uploadedfiles/*
mariner_app/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
